@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url();
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    color: rgb(210, 210, 210);
    font-family: Montserrat;
    background-color: rgb(17 17 17)
}

header {
    margin-top: 5px;
    padding: 75px;
}

header h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

nav {
    padding: 20px 0px;
    padding-bottom: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a{
    color: rgba(255, 255, 255, 0.498);
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.drop-down {
    display: none;
}

.hero {
    height: 50vh;
    background-image: url(../images/magnus-andersson-dZJorqZxpYA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.hero-content {
    margin: auto;
    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero h2 {
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
}

.hero button {
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    border: solid 2px whitesmoke;
    border-radius: 7px;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero button:hover {
    background-color: whitesmoke;
    color: black;
}

section {
    width: 100%;
    margin: auto;
}

.products img {
    height: 300px;
    width: 30%;
    object-fit: cover;
    margin: 50px;
}

.products h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

.product-text {
    padding: 0 50px;
}


.product {
    background-color: #0f0f0f;
    display: flex;
    margin: auto;
    padding: 10vh 0;
    justify-content: center;
    align-items: center;
}

.product2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 50px 0;
}

.images {
    position: relative;
}

.image-content {
    position: relative;
}

.images img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.images h4 {
    font-size: 2.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 2px 2px 2px black;
    transform: translate(-50%, -50%);
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .gradient:hover {
    opacity: 1;
  }

  footer {
    padding-bottom: 5px;
  }

@media screen and (max-width: 64em){

  }

@media screen and (max-width: 48em){
    header {
        padding: 0%;
        padding-top: 15px;
    }

    header h1 {
        font-size: 2.2rem;
    }

    .product {    
        display: block;
        padding: 0;
    }

    .product2 {    
        display: block;
        padding: 0;
    }

    .products img {
        height: 50vh;
        width: 80%;
        object-fit: cover;
        margin: 0;
    }

    .product-text {
        padding: 15px 0;
    }
    
    .images h4 {
        font-size: 1rem;
    }
  }

  /* Tablet */
@media screen and (max-width: 30em){
    header {
        padding: 0%;
        padding-top: 15px;
    }

    header h1 {
        font-size: 2.2rem;
    }

    .drop-down {
        display: block;
    }

    nav {
        height: 2.4rem;
        overflow: hidden;
        padding: 5px;
        padding-bottom: 0;
    }
    
    nav ul {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }

    .nav-expanded {
        height: auto; 
    }

    nav li {
        text-align: left;
        flex-basis: 100%;
        padding: 4px 0;
    }

    .fa {
        font-size: 20px;
    }

    .images {
        grid-template-columns: 1fr;
    }

    .products img {
        margin: 0;
        width: 80%;
        padding: 3vh 0;
    }

    .product-text {
        padding: 0;
    }
}